<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-bizflycloud-index") %>>
          <a href="/docs/providers/bizflycloud/index.html">BizFly Cloud Provider</a>
        </li>
        <li<%= sidebar_current("docs-bizflycloud-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-bizflycloud-datasource-image") %>>
                <a href="/docs/providers/bizflycloud/d/image.html">bizflycloud_image</a>
              </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-bizflycloud-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-bizflycloud-resource-server") %>>
                <a href="/docs/providers/bizflycloud/r/server.html">bizflycloud_server</a>
              </li>
              <li<%= sidebar_current("docs-bizflycloud-resource-volume") %>>
                <a href="/docs/providers/bizflycloud/r/volume.html">bizflycloud_volume</a>
              </li>
              <li<%= sidebar_current("docs-bizflycloud-resource-volume-snapshot") %>>
                <a href="/docs/providers/bizflycloud/r/volume_snapshot.html">bizflycloud_volume_snapshot</a>
              </li>
              <li<%= sidebar_current("docs-bizflycloud-resource-ssh-key") %>>
                <a href="/docs/providers/bizflycloud/r/ssh_key.html">bizflycloud_ssh_key</a>
              </li>
              <li<%= sidebar_current("docs-bizflycloud-resource-firewall") %>>
                <a href="/docs/providers/bizflycloud/r/firewall.html">bizflycloud_firewall</a>
              </li>
              <li<%= sidebar_current("docs-bizflycloud-resource-loadbalancer") %>>
                <a href="/docs/providers/bizflycloud/r/loadbalancer.html">bizflycloud_loadbalancer</a>
              </li>
              <li<%= sidebar_current("docs-bizflycloud-resource-loadbalancer-listener") %>>
                <a href="/docs/providers/bizflycloud/r/loadbalancer_listener.html">bizflycloud_loadbalancer_listener</a>
              </li>
              <li<%= sidebar_current("docs-bizflycloud-resource-loadbalancer-pool") %>>
                <a href="/docs/providers/bizflycloud/r/loadbalancer_pool.html">bizflycloud_loadbalancer_pool</a>
              </li>
              <li<%= sidebar_current("docs-bizflycloud-resource-loadbalancer-member") %>>
                <a href="/docs/providers/bizflycloud/r/loadbalancer_member.html">bizflycloud_loadbalancer_member</a>
              </li>
              <li<%= sidebar_current("docs-bizflycloud-resource-kubernetes") %>>
                <a href="/docs/providers/bizflycloud/r/kubernetes.html">bizflycloud_kubernetes</a>
              </li>
              <li<%= sidebar_current("docs-bizflycloud-resource-vpc-network") %>>
                <a href="/docs/providers/bizflycloud/r/vpc_network.html">bizflycloud_vpc_network</a>
              </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
